@layout('layout.app')

@section('content')

<div class="h-100 w-100 row justify-content-center align-items-center">
  <h2 class="h-100 w-100 row justify-content-center align-items-center">    
    Ringtones Api
  </h2>
</div>

@endsection